// Colors :
$info-color: #5da8ef;
$quote-color: #333333;
$section-color: #f9f9f9;
$customGray-color: #8f8f8f;
$poppins-color: #7a7a7a;
$pink-color: #ce60a8;
$white2-color: #dfdfdf;
$danger-color: #e3342f;
$secondary-color: #3b3c3e;

:export {
  info-color: $info-color;
  quote-color: $quote-color;
  section-color: $section-color;
  customGray-color: $customGray-color;
  poppins-color: $poppins-color;
  pink-color: $pink-color;
  white2-color: $white2-color;
  danger-color: $danger-color;
  secondary-color: $secondary-color;
}
