.explanation-read-more {
  text-decoration: none;
  border-bottom: 2px solid #93c5fd;
  transition: 0.3s;
  &:hover {
    border-bottom: 2px solid #2977d0;
    transition: 0.3s;
    font-weight: 600;
  }
}
