.magazine-text {
  opacity: 0.2;
  font-size: 12px;
  letter-spacing: 5px;
  line-height: 66px;
  text-transform: uppercase;
  color: #0b0c11;
  font-family: lSpartan;
  font-weight: 700;
  text-align: right;
}
